.modal {
    position: absolute;
    width: 350px;
    background-color: #f274d0;
    left: calc(50vw - 150px);
    top: 5vh;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    transition: 300ms;
    z-index: 1000;
}

.modalIsOpen {
    transform: scale(1);
    opacity: 1;
}

.modalIsClose {
    transform: scale(.7) translateY(-100px);
    opacity: 0;
}

.modalIsOpen + .morph {
    transform: scale(1000);
    opacity: 1;
}

.morph {
    position: absolute;
    top: 20px;
    left: calc(50vw - 10px);
    width: 20px;
    height: 20px;
    background-color: #00000090;
    transition: 100ms;
    opacity: 0;
}