@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    overflow: hidden;
}

body {
    background-color: #212121;
    font-family: 'Poppins', sans-serif;
}