.infoUser {
    text-align: center;
    transform: translateY(-40px);
}

.infoUser img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}

.notUser {
    border: 3px dashed #85c5e5;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    margin: 20px 0;
}