.infoUser {
    text-align: center;
}

.infoUser img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
    user-select: none;
    border: 5px solid #f274d0;
}

.notUser {
    border: 3px dashed #f274d0;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}